<!DOCTYPE html>
<html>
    <head>
        <title>Cardflash</title>
        <link rel="stylesheet" href="./static/styles-dashboard.css">
    </head>


    <body>
        

        <div class="row-ifier">


            <div class="zone-1">
                
                <a class="back" href="{{  url_for('index')  }}">Exit</a>

                <h2 class="welcome" title="Welcome, {{ user.name }}!">Welcome, {{ user.name }}!</h2>

                <div class="create-new-deck-note-container">Create a New Deck:</div>
                    <form class="create-new-deck-form-container" action="{{ url_for('create_deck') }}" method="POST">
                        <input type="text" name="deck_name" placeholder="Deck Name" class="create-new-deck-input" required>
                        <button type="submit" class="create-new-deck-button">Create Deck</button>
                    </form>
                <div class="note">Manage your flashcard decks here.<br>Create new decks or open existing ones to review your cards.</div>


            </div> <!-- zone-1 -->


           


            <div class="zone-2">


                
                <h3 class="your-decks">Your Decks</h3>


                <div class="decks-zone">

                    {% for deck in decks %}
                        <div id="deck-id-{{  deck.id  }}-container" class="deck-container">
                            <a class="deck" href="{{ url_for('view_deck', deck_id=deck.id)  }}">
                                <div id="deck-id-{{  deck.id  }}" class="deck-content" title="{{  deck.name  }}">{{ deck.name }}</div>
                                <div class="playbutton"></div>
                            </a>
                            <div class="deck-background-1"></div>
                            <div class="deck-background-2"></div>
                            <div class="deck-button deck-button--rename" onclick="show_rename_dialogue('{{  deck.id  }}', '{{  deck.name  }}')">Rename</div>
                            <div class="deck-button deck-button--delete" onclick="show_deletion_dialogue('{{  deck.id  }}', '{{  deck.name  }}')" role="button" tabindex="0">Delete</div>
                        </div>
                    {% else %}
                        <div class="no-decks">No decks yet</div>
                    {% endfor %}

                </div> <!-- decks-zone -->



            </div> <!-- zone-2 -->
    


        </div> <!-- row-ifier -->


        <div id="rename-background" onclick="rename_deny()"></div>

        <div id="rename-dialogue">
            <div class="rename-panel">
                <div class="rename-message">What would you like to change this deck's name to?</div>
                <input id="rename-textfield">
                <div class="rename-buttons-container">
                    <div class="rename-buttons rename-buttons--deny" onclick="rename_deny()">Cancel</div>
                    <div class="rename-buttons rename-buttons--confirm" onclick="rename_confirm(event)">Rename</div>
                </div>
            </div>
        </div>

        <div id="deletion-background" onclick="delete_deny()"></div>

        <div id="deletion-dialogue">
            <div class="delete-panel">
                <div class="delete-message-1">You're about to delete this deck. Are you sure?</div>
                <div id="delete-message-2"></div>
                <div class="delete-buttons-container">
                    <div class="delete-buttons delete-buttons--deny" onclick="delete_deny()">Cancel</div>
                    <div class="delete-buttons delete-buttons--confirm" onclick="delete_confirm()">Delete</div>
                </div>
            </div>
        </div>


        <script>
            let rename_id = 0;
            let deletion_id = 0;

            function show_rename_dialogue(deck_id, deck_name) {
                deck_id = parseInt(deck_id);
                document.getElementById("rename-textfield").value = document.getElementById(`deck-id-${deck_id}`).textContent;
                document.getElementById("rename-textfield").title = document.getElementById(`deck-id-${deck_id}`).textContent;
                document.getElementById("rename-dialogue").style.display = "block";
                document.getElementById("rename-background").style.display = "block";
                rename_id = deck_id;
            }

            function rename_confirm(event) {
                event.preventDefault()
                let deck_id = rename_id;
                let newname = document.getElementById("rename-textfield").value;
                rename_id = 0;
                
                fetch(`/rename_deck/${deck_id}/${newname}`)
                    .then(response => response.json())
                    .then(data => {
                        document.getElementById(`deck-id-${deck_id}`).textContent = newname;
                    });
                rename_deny()
            }

            function rename_deny() {
                document.getElementById("rename-dialogue").style.display = "none";
                document.getElementById("rename-background").style.display = "none";
                rename_id = 0;
            }

            function show_deletion_dialogue(deck_id, deck_name) {
                deck_id = parseInt(deck_id);
                document.getElementById("delete-message-2").textContent = document.getElementById(`deck-id-${deck_id}`).textContent;
                document.getElementById("delete-message-2").title = document.getElementById(`deck-id-${deck_id}`).textContent;
                document.getElementById("deletion-dialogue").style.display = "block";
                document.getElementById("deletion-background").style.display = "block";
                deletion_id = deck_id;
            }

            function delete_confirm() {
                let deck_id = deletion_id;
                deletion_id = 0;
                document.getElementById(`deck-id-${deck_id}-container`).style.display = "none";
                fetch(`/delete_deck/${deck_id}`);
                delete_deny()
            }

            function delete_deny() {
                document.getElementById("deletion-dialogue").style.display = "none";
                document.getElementById("deletion-background").style.display = "none";
                deletion_id = 0
            }

        </script>
    </body>

    
</html>